.job-panel {
    margin-top: 56px;
    display: flex;
    align-items: stretch;
    gap: 10px;
    position: relative;
    height: 100%;

    .job-list {
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 9%);
        flex-basis: 100%;
    }
    
    .job-list-container {
        height: 100%;
        max-height: 1340px;
        overflow-y: auto;
    }
    
    .job-detail {
        display: none;
    }

    @media (min-width: 1024px) {    
        .job-list {        
            flex-basis: 30%;
        }
        .job-detail {
            display: inline;
            display: initial;
            flex-basis: 70%;
            background-color: #fff;
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 9%);
        }
    }
}

