<div class="job-panel">
    <div class="job-list">
        <div
            class="job-list-container"
            infinite-scroll
            [infiniteScrollDistance]="0"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()"
            [scrollWindow]="false" 
            [alwaysCallback]="true"
        >
            <div>
                <app-job-card *ngFor="let job of jobs" [job]="job" [selected]="job.jobId === selectedJob?.jobId" (onSelect)="onSelect(job)"></app-job-card>
            </div>
        </div>
    </div>
    <div class="job-detail">
        <app-job-detail [selectedJob]="selectedJob"></app-job-detail>
    </div>
</div>