<div class="liveJobsSection_jobSection">
    <div class="liveJobsSection_jobCardsSection">
        <div
            class="liveJobsSection_jobCardsSection-container"
            infinite-scroll
            [infiniteScrollDistance]="0"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()"
            [scrollWindow]="false" 
            [alwaysCallback]="true"
        >
            <div>
                <app-job-card *ngFor="let job of jobs" [job]="job" [selected]="job.jobId === selectedJob?.jobId" (onSelect)="onSelect(job)"></app-job-card>
            </div>
        </div>
    </div>
    <div class="liveJobsSection_jobDetailSection">
        <app-job-detail [selectedJob]="selectedJob"></app-job-detail>
    </div>
</div>