<div class="job-card" (click)="handleClick()" [ngClass]="{selected}">
    <div role="presentation" class="job-card-container">
        <div class="job-card-title">{{job.publicTitle}}</div>
        <div class="job-card-description">
            <div class="job-card-item">
                <mat-icon class="job-card-icon">business</mat-icon>
                <span>{{job.industry}}</span>
            </div>
            <div class="job-card-item">
                <mat-icon class="job-card-icon">group</mat-icon>
                <span>{{job.companySize | companySize}}</span>
            </div>
            <div class="job-card-item">
                <span>{{job.publishedOnJobBoard | dateAgo}}</span>
            </div>
        </div>
        <div class="job-card-topskills">
            <ul class="job-card-topskills-list">
                <li *ngFor="let skill of job?.requiredSkills || []">
                    <div class="job-card-topskills-item">
                        {{ skill.name }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
