@font-face {
    font-family: "Gordita"; 
    src: url("/assets/fonts/gordita/GorditaMedium.woff2") format("woff2");
}
@font-face {
    font-family: "Gordita-Regular"; 
    src: url("/assets/fonts/gordita/GorditaRegular.woff2") format("woff2");
}