/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.cdnfonts.com/css/gordita');
@import './assets/fonts/gordita/stylesheet.css';

html {
    font-size: 10px;
    scroll-padding-top: 75px;
}

:root {
    --color-text: #212121;
    --color-heading: #212121;
    --color-link: #2e6edf;
    --color-black: #212121;
    --color-black-light: #2e2e2e;
    --color-blue: #2e6edf;
    --color-blue-light: #3dbef8;
    --color-blue-light-bg: rgba(46,110,223,.08);
    --color-blue-dark: #2961c4;
    --color-gray: #444;
    --color-gray-light: #828282;
    --color-light-gray: #f8f8f8;
    --color-gray-extra-light: #fafafa;
    --color-silver: #aaa;
    --color-silver-extra-dark: #666;
    --color-silver-dark: #888;
    --color-white: #fff;
    --color-red: red;
    --color-cyan: #3bd3e6;
    --color-placeholder: #ccc;
    --color-white-hover: #eee;
    --color-green: #66cc80;
    --color-teal: #41bfad;
    --color-blue-lighter: #56a8f7;
    --color-indigo: #6c7bd4;
    --color-violet: #8a62d6;
    --shadow-card: hsla(210,8%,62%,.2) 0px 8px 24px;
    --shadow-card-hover: rgba(0,0,0,.1) 0px 20px 25px -5px,rgba(0,0,0,.04) 0px 10px 10px 15px;
    --shadow-box: rgba(17,17,26,.05) 0px 1px 0px,rgba(17,17,26,.1) 0px 0px 8px;
    --gradient-purple-to-blue: linear-gradient(90deg,#6c7bd4,#56a8f7);
    --primary-font: Gordita,sans-serif;
    --secondary-font: Gordita-Regular,sans-serif;
    --fz-paragraph: 16px;
    --fz-paragraph-xs: 12px;
    --fz-paragraph-sm: 14px;
    --fz-paragraph-lg: 18px;
    --lh-paragraph: 1.5;
    --lh-heading: 1.5;
    --fz-h1: 48px;
    --fz-h2: 28px;
    --fz-h3: 20px;
    --fz-h4: 16px;
    --fz-h5: 16px;
    --fz-h6: 16px;
    --btn-fz: 16px;
    --btn-ls: 0.04em;
    --btn-x: 1em;
    --btn-y: 1.5em;
    --btn-color-primary: var(--color-white);
    --btn-bg-color-primary: var(--color-blue);
    --btn-color-primary-hover: var(--color-white);
    --btn-bg-color-primary-hover: var(--color-blue-dark);
    --btn-color-secondary: var(--color-blue);
    --btn-bg-color-secondary: var(--color-white);
    --btn-color-secondary-hover: var(--color-blue-dark);
    --btn-bg-color-secondary-hover: var(--color-white);
    --btn-color-white: var(--color-white);
    --btn-bg-color-transparent: transparent;
    --btn-color-transparent: var(--color-white);
    --btn-color: var(--btn-color-primary);
    --btn-bg-color: var(--btn-bg-color-primary);
    --btn-color-hover: var(--btn-color-primary)-hover;
    --btn-bg-color-hover: var(--btn-bg-color-primary-hover);
    --btn-radius: 4px;
    --container-width: 1208px;
    --card-radius: 8px;
    --card-border-color: #eee;
    --chip-color-primary: #41bfad;
    --chip-color-secondary: #56a8f7;
    --chip-color-tertiary: #6c7bd4;
    --chip-shadow: 0px 2px 4px rgba(0,0,0,.078);
    --chip-shadow-hover: hsla(210,8%,62%,.2) 0px 8px 24px;
    --gutter: 32px
}

body { 
    height: 100%;
    font: var(--fz-paragraph)/var(--lh-paragraph) var(--primary-font);
    color: var(--color-text,#000);
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}


ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading,#000);
    font-weight: 500;
    line-height: inherit;
    margin: 0 0 0.5em;
}

.section {
    background-color: var(--color-gray-extra-light);
    padding: 4rem 0;
}


@media (min-width: 1025px) {
    .section {
        padding: 8rem 0;
    }
}

@media (min-width: 769px) {
    .section {
        padding: 5.6rem 0;
    }
}

.container {
    max-width: calc(var(--container-width) + var(--gutter) * 2);
    padding: 0 var(--gutter);
    margin: 0 auto;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
}
::-webkit-scrollbar-track {
    background-color: hsla(0,0%,87%,.75);
    border-radius: 10px;
}

.jobdetail-truncate {
    --maxContentHeight: 430px;
    max-height: var(--maxContentHeight);
    overflow-y: hidden;
    position: relative;
    
    p {
        margin: 0;
        font-family: var(--secondary-font);
    }
    ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style: disc none outside;
        font-family: var(--secondary-font);
        li {
            margin-left: 32px;
            display: list-item;
            text-align: -webkit-match-parent;
            font-family: var(--secondary-font);
        }
    }
    a {
        position: relative;
        display: inline-block;
        color: var(--color-link);
        transition: all .2s ease;
        text-decoration: none;
        cursor: pointer;
        font-family: var(--secondary-font);
    }
}