<div class="liveJobsSection_jobDetailSection">
    <div class="liveJobDetail_container">
      <div>
        <div class="liveJobDetail_header">
          <div class="liveJobDetail_jobTitle">{{ selectedJob?.publicTitle }}</div>
          <div class="liveJobDetail_companyDetailsWrapper">
            <div class="CompanyBasicInfo_companyDetails CompanyBasicInfo_size-sm">
              <div class="CompanyBasicInfo_item">
                <mat-icon class="CompanyBasicInfo_icon">business</mat-icon>
                <div>Industry: Artificial Intelligence</div>
              </div>
              <div class="CompanyBasicInfo_item">
                <mat-icon class="CompanyBasicInfo_icon">place</mat-icon>
                <div>Remote</div>
              </div>
              <div class="CompanyBasicInfo_item">
                <mat-icon class="CompanyBasicInfo_icon">group</mat-icon>
                <div>Company size: 51-250</div>
              </div>
              <div class="CompanyBasicInfo_item">
                <mat-icon class="CompanyBasicInfo_icon">event</mat-icon>
                <div>Full-time</div>
              </div>
              <div class="CompanyBasicInfo_item">
                <mat-icon class="CompanyBasicInfo_icon">money</mat-icon>
                <div>Not disclosed</div>
              </div>
            </div>
            <div class="liveJobDetail_cta">
              <button
                mat-raised-button
                color="primary"
                href="https://developers.turing.com"
              >
                Apply now
              </button>
            </div>
          </div>
          <ul class="liveJobDetail_skillsList">
            <li *ngFor="let skill of job?.requiredSkills || []">
              <div class="liveJobDetail_skillPill">{{ skill.name }}</div>
            </li>
          </ul>
        </div>
        <div class="liveJobDetail_jobContent">
          <p><strong>Job description</strong></p>
          <div *ngIf="isLoading" class="loading">
              <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="!isLoading" class="Truncate_truncate">
            <div [innerHTML]="job?.description"></div>
          </div>
          <div *ngIf="!isLoading" class="liveJobDetail_readMore">
            <button data-testid="customLinkButton" mat-button color="primary">
              View full job description
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  