
.jobdetail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    p {
        margin: 0;
    }

    .jobdetail-header {
        padding: 32px;
        border-bottom: 1px solid #eee;

        .jobdetail-title {
            font-size: 2rem;
            font-weight: 500;
            color: #212121;
        }

        .jobdetail-detail {
            margin-top: 16px;
            display: grid;
            grid-template-columns: 2.5fr 1fr;
        }

        .jobdetail-cta {
            justify-self: flex-end;
        }

        .jobdetail-skills {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .jobdetail-skillpill {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 4px 8px;
                line-height: 1.2;
                font-size: 1.2rem;
                color: #444;
                font: var(--fz-paragraph-xs)/var(--lh-paragraph) var(--secondary-font);
            }
        }
    }

    .jobdetail-content {
        padding: 32px 70px 40px 32px;
        min-height: 20rem;
        line-height: 2;
        list-style: none;

        p {
            margin: 0;
            strong {
                color: #212121;
                font-size: 1.6rem;
                font-weight: 500;
                margin-top: 0;
                display: inline-block;
            }
        }
        
        .jobdetail-truncate {
            --maxContentHeight: 430px;
            max-height: var(--maxContentHeight);
            overflow-y: hidden;
            position: relative;
            p {
                margin: 0;
            }
            ::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 120px 0;
                background-image: linear-gradient(180deg,transparent 60%,#fff);
            }
        }

        .jobdetail-readmore {
            margin-top: 10px;
            text-align: center;

            .readmore-btn {
                

                font-size: var(--btn-fz);
                position: relative;
                font-weight: 500;
                color: var(--color-blue);
                letter-spacing: .04em;
                text-decoration: none;
                outline: none;
                background: none;
                border: none;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: 0;
                    background-color: var(--btn-bg-color);
                    transition: width .2s ease;
                }

                &:hover {
                    text-decoration: none;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.jobdetail-company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 14px;
    gap: 14px;
    color: #666;

    .company-item {
        display: flex;
        align-items: center;
        font: var(--fz-paragraph-xs)/var(--lh-paragraph) var(--secondary-font);

        .company-icon {
            margin-right: 8px;
            font-size: 1.8rem;
            width: 18px;
            height: auto;
        }
    }
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.apply-btn {
    font-size: var(--btn-fz);
    border-radius: var(--btn-radius);
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    padding: var(--btn-x) var(--btn-y);
    border: 1px solid var(--btn-bg-color);
    letter-spacing: var(--btn-ls);
    font-weight: 500;
    transition: all .2s ease-in-out;
    line-height: 16px;

    &:hover {
        background-color: var(--btn-bg-color-hover);
        border-color: var(--btn-bg-color-hover);
    }
}

.section-frame {
    padding: 2.8rem 0;
    .section-container {
        width: 100%;
        max-width: calc(var(--container-width) + var(--gutter)*2);
        padding: 0 var(--gutter);
        margin: 0 auto;
        box-sizing: border-box;
    }
    .section-headline {
        justify-content: center;
        width: 100%;
        margin-bottom: 48px;
    }
    .section-headcol {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .section-title {
        justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.2rem 0.8rem;
        flex-wrap: wrap;
        color: var(--color-black);
        font-size: var(--fz-h2);
    }
    .section-brief {
        font-family: var(--secondary-font);
    }
    .processbox-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        counter-reset: counter;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: -20px;

        .list-item {
            counter-increment: counter;
            flex: 0 0 266px;
            padding: 20px;
        }
        .box-item {
            font-size: var(--fz-paragraph-sm);
            line-height: 1.57;
            text-align: left;
        }
        .box-index {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--color-text);
            color: var(--color-white);
            font-size: var(--fz-paragraph);
            line-height: 1;
            margin-bottom: 6px;
            &::before {
                content: counter(counter);
            }
        }
        .box-text {
            .box-title {
                font-size: 1.6rem;
                margin-bottom: 0.1em;
                .box-index {
                    display: none;
                }
            }
            p {
                font-family: var(--secondary-font);
            }
        }
        
    }
    .section-box {
        display: flex;
        justify-content: center;
        .apply-btn {
            margin-top: 4rem;
        }
    }
}

@media (min-width: 769px) {
    .section-frame {
        padding: 3.2rem 0;
    }   
}

