<div class="jobdetail-container">
    <div>
        <div class="jobdetail-header">
            <div class="jobdetail-title">{{ selectedJob?.publicTitle }}</div>
            <div class="jobdetail-detail">
                <div class="jobdetail-company">
                <div class="company-item">
                    <mat-icon class="company-icon">business</mat-icon>
                    <div>Industry: {{selectedJob?.industry}}</div>
                </div>
                <div class="company-item">
                    <mat-icon class="company-icon">place</mat-icon>
                    <div>Remote</div>
                </div>
                <div class="company-item">
                    <mat-icon class="company-icon">group</mat-icon>
                    <div>Company size: {{selectedJob?.companySize | companySize}}</div>
                </div>
                <div class="company-item">
                    <mat-icon class="company-icon">event</mat-icon>
                    <div>Full-time</div>
                </div>
                <div class="company-item">
                    <mat-icon class="company-icon">money</mat-icon>
                    <div>Not disclosed</div>
                </div>
                </div>
                <div class="jobdetail-cta">
                <a class="apply-btn" href="#">
                    Apply now
                </a>
                </div>
            </div>
            <ul class="jobdetail-skills">
                <li *ngFor="let skill of job?.requiredSkills || []">
                    <div class="jobdetail-skillpill">{{ skill.name }}</div>
                </li>
            </ul>
        </div>
        <div class="jobdetail-content">
            <p><strong>Job description</strong></p>
            <div *ngIf="isLoading" class="loading">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!isLoading" class="jobdetail-truncate">
                <div [innerHTML]="description"></div>
            </div>
            <div *ngIf="!isLoading" class="jobdetail-readmore">
                <a class="readmore-btn" href="#">View full job description</a>
            </div>
        </div>
    </div>
    <section class="section-frame">
        <div class="section-container">
            <div class="section-headline">
                <div class="section-headcol">
                    <h2 class="section-title">
                        How to become a Turing developer?
                    </h2>
                    <div class="section-brief">Work with the best software companies in just 4 easy steps</div>
                </div>
            </div>
            <ol class="processbox-list">
                <li class="list-item">
                    <div class="box-item">
                        <span class="box-index"></span>
                        <div class="box-text">
                            <h3 class="box-title">
                                <span class="box-index"></span>
                                Create your profile
                            </h3>
                            <p>Fill in your basic details - Name, location, skills, salary, &amp; experience.</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-item">
                        <span class="box-index"></span>
                        <div class="box-text">
                            <h3 class="box-title">
                                <span class="box-index"></span>
                                Take our tests and interviews
                            </h3>
                            <p>Solve questions and appear for technical interview.</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-item">
                        <span class="box-index"></span>
                        <div class="box-text">
                            <h3 class="box-title">
                                <span class="box-index"></span>
                                Receive job offers
                            </h3>
                            <p>Get matched with the best US and Silicon Valley companies.</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-item">
                        <span class="box-index"></span>
                        <div class="box-text">
                            <h3 class="box-title">
                                <span class="box-index"></span>
                                Start working on your dream job
                            </h3>
                            <p>Once you join Turing, you’ll never have to apply for another job.</p>
                        </div>
                    </div>
                </li>
            </ol>
            <div class="section-box">
                <a class="apply-btn" href="#">
                    Apply now
                </a>
            </div>
        </div>
    </section>
</div>
    